@mixin cf{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

@mixin bg($height){
	height: 0;
	padding-top: $height;
	overflow: hidden;
	line-height: 2;
}

@mixin at2x($path, $ext: "png", $w: auto, $h: auto){
	background-image: url($path + '.' + $ext);
	$at2x_path: $path + '_2x' + '.' + $ext;
	@media all and (-webkit-min-device-pixel-ratio:1.5){
		background-image: url($at2x_path);
		background-size: $w $h;
	}
}


@mixin ff-sans{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, '游ゴシック','YuGothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Meiryo, sans-serif;
}
@mixin ff-serif{
	font-family: "HiraMinProN-W3", "Yu Mincho", YuMincho, "HG明朝E", "MS 明朝", serif;
}